.navbar{
    background-color: black;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
}
.navbar a{
    padding: 10px;
}
.center{
    text-align: center;
 
}
.section{
    max-width: 1090px;
    margin: 0 auto;
    padding:0 15px;
    display: flex;
    align-items: center;
    background-color: wheat;
    margin: 31px;
} 
.left{
   margin-right: 30px;
   max-height: 320px;
}
.right{
    text-align: right;
    max-height: 321px;
    text-align: left;
    line-height:27px ;
}
.About{
    text-align: center;
    
}
.interests{
    text-align: center;
}
.form{
    align-self: center;
    width:80%;
    background-color: dimgrey;
    box-sizing: border-box;
    align-items: center;
    padding: 1.5rem;
}
.class{
    align-content: center;

}
.input{
    margin-bottom: 1rem;
    width:100%;
    height: 52px;

}
.contact{
   align-content: center;
   margin: auto;
   width: 50%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.footer{
    background-color: ivory;
    text-align: center;
    align-content: center;
}
.buton{
    border: 1px solid;
    background-color: lightslategrey;
    cursor: pointer;
    align-items: center;
}
#contact{
    text-align: center;
    width: 80%;
}